@tailwind base;
@tailwind components;
@tailwind utilities;

.text-shadow {
  text-shadow: black 3px -3px 3px, #ffc107 -2px 2px 3px;
}
html {
  scroll-behavior: smooth;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
